.Title-description h5 {
  font-size: 60px;
  letter-spacing: .1em;
  word-spacing: .1em;
}

.Title-description p {
  font-size: 30px;
  line-height: 1.5em;
  letter-spacing: .1em;
  word-spacing: .15em;
  text-align: center;
  

}


.Title-description {
	min-height: 70vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	

}
