#Button-row {
	min-height: 10vh;
	vertical-align: middle;
	margin-top: 3vh;


}

#Button-row Button {
	padding: 15px 30px 15px 30px;
	font-size: 25px;
}



.footer {
	margin-left: 0px;
	align-items: center;
	justify-content: center;

}




.navLink.active {
	display: none;
}
